{
	"server": {
		"domain": "localhost",
		"port": "80"
	},
	"db": {
		"db": "pg",
		"connnect": "pg://postgres:pass@localhost:5432/workbench",
		"user": "postgres",
		"pass": "",
		"server": "localhost",
		"port": "5432",
		"database": "workbench"
	}

}